{
  "extends": ["prettier", "airbnb-base", "next/babel", "next/core-web-vitals"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "commonjs": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "indent": "off",
    "linebreak-style": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es6",
        "singleQuote": true,
        "printWidth": 100,
        "tabWidth": 4,
        "semi": true
      }
    ]
  },
  "plugins": ["prettier"]
}
